*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --laranja: #FF6600;
    --branco:#FFFFFF;
    --cinzaclaro:#F5F5F5;
    --cinzaescuro: #333333;
    --preto: #000000;
    --laranjabocacheia:#db5d08;
}

body{
    background-color:var(--cinzaescuro) ;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color:var(--laranjabocacheia);
    color: #FFFFFF;
    width: 100%;
    position: sticky;
    top: 0px;
}

header > #logo > a > img{
    max-width: 60px;
}

#menu-categorias{
    position: sticky;
    top: 60px;
}

#menu-categorias nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap:5px;
    background-color: #F9A126;
    padding: 5px;
}

#menu-categorias nav ul li{
    background-color: #F9A126;
}

#menu-categorias nav ul li a{
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
}

#menu-categorias nav ul li a:hover{
    border-bottom-color: red;
}

#categoria-lanche h2{
    text-align: center;
    background-color: #db5d08;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 30px;
}

#conteneir-lanche{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
}

.caixa{
    background-color:#333333;
    padding:10px ;
    width: 280px;
    height: 250px;
    color: #FFFFFF;
    box-shadow: 1px 1px 16px black;
}

.caixa > img{
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: 0px auto;
}

.caixa .btn-carrinho{
    display: flex;
    margin: 20px auto;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.caixa .btn-carrinho:hover{
    background-color: rgba(255, 255, 255, 0.719);
}

#categoria-porcoes > h2{
    background-color: #db5d08;
    padding: 10px;
    text-align: center;
    margin: 20px 0px 3px 0px;
}

#conteneir-porcoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#categoria-bebidas h2{
    background-color: #db5d08;
    padding: 10px;
    margin: 20px 0px 3px 0px;
    text-align: center;
}

#conteneir-bebidas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#categoria-comida > h2{
    padding: 10px;
    margin: 20px 0px 3px 0px;
    background-color: #db5d08;
    text-align: center;
}

#conteneir-comida{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

section h2{
    scroll-margin-top: 90px;
}

#carrinho p{
    font-size: 20px;
    cursor: pointer;
}

#cart-lateral{
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background-color:#333333;
    box-shadow: 1px 1px 16px black;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

#cart-lateral.aberto{
    transform: translateX(0);
}

#resultado-final{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color:var(--laranjabocacheia);
    display: flex;
    justify-content: space-between;
}

#resultado-final > p{
    background-color: white;
    width: 50%;
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
}

#btn-fazer-pedido{
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
}

#exit-lateral > #btn-exit{
    border: none;
    font-size: 30px;
    background-color: var(--laranjabocacheia);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

#list-produtos .novo-estilo button{
    display: none;
}

#list-produtos > .novo-estilo{
    height: 200px;
}

#list-produtos > div {
    margin: 10px auto;
}

#list-produtos{
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

#area-pagar{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 200px;
    z-index: 100;
    
}

#pagar-pedido{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--cinzaclaro);
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 16px black;
}

#exit-confirmar{
    background-color: var(--laranjabocacheia);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

#pagar-pedido > #btn-confirmar{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px 20px;
    background-color: #db5d08;
    border-radius:5px;
    
}

#elemento-total{
    background-color: var(--laranjabocacheia);
    width: 140px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.msg-erro{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    padding: 5px 5px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border-bottom: 2px solid black;
    color:white;
}

.msg-confirm{
      position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    padding: 5px 5px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border-bottom: 2px solid black;
    color:white;
    box-shadow: 1px 1px 16px black;
}